<div id="map"></div>
<script>
$.getJSON("/api/pizza_joints").done(function(data){

  var pizzaPlaces = data.pizza_joints;

  for (var i =0;i < pizzaPlaces.length; i++)
  {

    L.marker([ pizzaPlaces[i].lat, pizzaPlaces[i].long])
   .addTo(window.map)
   .bindPopup("<b>" + pizzaPlaces[i].name + "</b>");

  }

});
