<div id="map"></div>
<script>
$.getJSON("/api/pizza_joints").done(function(data){
  var pizzaPlaces = data.pizza_joints
  for (var i =0;i < pizzaPlaces.length; i++)
  {

    L.marker([ pizzaPlaces[i].lat, pizzaPlaces[i].long])
   .addTo(window.map)
   .bindPopup("<b>" + pizzaPlaces[i].name + "</b>");

  }

});


</script>

<p><center><b> Bharvi's Pizzeria</center></b></p>

<!-- myfunction(data.pizza_joints);

});

function myfunction( items ) {

for (index = 0; index < items.length; index++ )
{
  //document.getElementById("images").innerHTML = items[index].lat;
  L.marker([ items[index].lat, items[index].long])
 .addTo(window.map)
 .bindPopup("<b>" + items[index].name + "</b>");
}
} -->
